.menuBar{
  display: 'block';
  margin: auto;
  padding: 10px;
}

.menuBar a{
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
}

.menuBar a:hover{
  text-decoration: none;
  color: #1ed760;
  font-size: 16px;
}

.menuBar td{
  padding-right: 20px;
}

input[type=text] {
  color: white;
  height: 40px;
  padding: 15px;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 20px;
  font-size: 16px;
  background-color: #1d1d1d;
  font-family: "Trebuchet MS";
  border-color: #2d2d2d;
}

input[type=text]:focus {
  outline: none;
  border-color: #1ed760;
}

img:hover {
  opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}

.row{
  float: left;
  margin: auto;
}

.App {
  text-align: center;
  color: white;
  margin-left: auto;
  margin-right: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

